@import 'reset';
@import 'settings';

@import 'foundation/foundation';
/// Outputs CSS classes for the grid.
@include foundation-grid;

@import 'base/clearfix';
//@import 'breakpoints';
//@import 'grid';

@import 'base/form';
@import 'base/form-item';
@import 'base/form-label';
@import 'base/form-select';
@import 'base/form-textarea';
@import 'base/form-composite';
@import 'base/form-submit';
@import 'base/form-tabledrag';
@import 'base/form-fieldset';
@import 'base/form-file';
@import 'base/form-filter-wrapper';
@import 'base/form-required';
@import 'base/field';
@import 'base/field-node-title';
@import 'base/button';
@import 'base/field-body';
@import 'base/table';
@import 'base/link';
@import 'base/description';
@import 'base/contextual-links';
@import 'base/hr';
@import 'base/page-title';
@import 'base/feed-icons';

@import 'page/page';
@import 'page/page-front';

@import 'block/block';
@import 'block/block-system-tabs';
@import 'block/block-system-tools';
@import 'block/block-menu-mainnavigation';
@import 'block/block-menu-footer';
@import 'block/block-menu-useraccountmenu';
@import 'block/block-socialmedialinks';
@import 'block/block-system-poweredbydrupal';
@import 'block/block-system-sitebranding';
@import 'block/block-system-breadcrumb';

@import 'view/view';
@import 'view/view-frontpage';
@import 'view/view-articles';

@import 'node/node';
@import 'node/node-article';

@import 'ds/ds-2col-75-25';
@import 'ds/ds-2col-stacked-75-25';
@import 'ds/ds-2row';
@import 'ds/ds-2col-empty';



body {
  //@include display-breakpoint;
  margin: 0;
  padding: 0;
  color: #666666;
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}